ul{
    list-style: none;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;

    background-color: aqua;
    overflow: hidden;

}
li{
    float: left;
    padding-right: 20px;
    color: blue;
    display: block;
    text-decoration: none;
    font-family: "Arial Black";
}
h2{
    color: #ff00f2;
    text-align: center;
    font-size: 30px;

}
p{
    color: green;
    font-family: "Arial Black";
    font-size: 15px;
}
body{
    background-image: url("assets/images/kims.jpeg");
    background-repeat: repeat;
    background-size: contain;

}
th,td{
    border: 2px solid #aa00ff;
    padding: 20px;
    font-family: "Arial Black";

}
table{
    border-collapse: collapse;
    width: 100px;
}